body{
      background-color: black;
      color: white;
     font-family: "DM Sans", sans-serif;

}


h1{
    font-size: 50px;
    strong{
        font-size: 100px;
    }
}





header{
    display: block;
     background-image: url(image-header.png);
     background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    font-family: white;
    color: white;
        font-family: "DM Sans", sans-serif;
    a{text-decoration:none;
      color: white;
    }
     
    }
 
        

    

nav{
    padding: 24px;
    
    
    
}

li{
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    padding-right: 15px;
    font-family: ;
}

ul{
    display: inline-block;
    float: right;
}




  div{width: 500px;
        margin: auto;}

        .button{
            background-color: black;
            padding: 10px 50px;
            border-radius: 10px;

        }
        
        .second{ 
            background-color: white;
            color: black;
            padding: 15px 50px;
            border-radius: 15px;


        }

        h1{
            font-size: 50px;
            line-height: 95%;
            
            
            
            
        }

        h2{
            font-size: 40px;
            margin: 0%;
            line-height: 90%;
        } 
 

        .presentation{
              
        }
        

        .sectionpadding{
           padding-block: 120px;
           padding-inline: 24px;
           padding-block: 30px;
        }

        .container{
            max-width:1080px;
            margin: auto;
        }

      


       